@using Sporacid.Simplets.Webapp.App.Resources.Titles
@using Sporacid.Simplets.Webapp.App.Resources.Messages

<div id="first-login-profile-edition" class="modal fade" data-bind="enterkey: save, with: profil">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Html.Raw(TitleStrings.Login_MainTitle)</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <div class="avatar-image">
                            <figure>
                                <img data-bind="attr:{src: $root.avatar}" alt="my avatar :D">
                                <figcaption>
                                    <a class="upload-button">Changer l'image</a>
                                    <input type="file" class="upload-ctrl" onchange="fileSelectHandler(this);" accept="image/x-png, image/gif, image/jpeg" />
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                
            </div>
        </div>
    </div>
</div>