<div id="membres" data-bind="foreach: membres">
    <div class="col-md-3">
        <div class="panel panel-primary membre">
            <div class="panel-heading">
                <h3 class="panel-title" data-bind="text: nom"></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <a class="thumbnail thumbnail-membre" href="#">
                                    <img class="media-object" data-bind="attr:{src: avatar}">
                                </a>
                                <div class="label label-default membre-titre" data-bind="text: titre"></div>
                            </div>
                        </div>
                    </div>

                    <div class="profil-spinner">
                        <div class="col-md-7">
                            <div class="profil-spinner-face" data-bind="with: profil, visible: !activeindex()">
                                <div>CONTENT FACE 1</div>
                            </div>
                            <div class="profil-spinner-face" data-bind="with: profil, visible: activeindex()">
                                <div>CONTENT FACE 2</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-6">
                        <div class="">
                            <a href="#" class="btn btn-primary"><i class="fa fa-envelope"></i> Contacter</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="">
                            <a href="#" class="btn btn-primary"><i class="fa fa-ellipsis-h"></i> Actions</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*<div class="col-md-3">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">NOM</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    <a class="thumbnail" href="#">
                        <img class="media-object" src="http://placehold.it/80">
                    </a>
                </div>
                <div class="col-md-9">
                    <div class="profile-label">
                        <span class="label label-danger">ROLE</span>
                    </div>
                    <div class="profile-since">
                        Member since: Jan 2012
                    </div>
                    <div class="profile-details">
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-truck"></i>Orders: <span>456</span></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-md-6">
                    <div class="">
                        <a href="#" class="btn btn-primary"><i class="fa fa-envelope"></i> ACTION A</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="">
                        <a href="#" class="btn btn-primary"><i class="fa fa-envelope"></i> ACTION B</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>*@