@using Sporacid.Simplets.Webapp.App.Resources.Titles

@{
  ViewBag.Title = @Html.Raw(TitleStrings.Profil_MainTitle);
}
    <div class="row">
        @Html.Partial("Partials/Userspace/_Membres")
    </div>

@section ScriptsImportBottom {
  <script type="text/javascript">
    jQuery(function($) {
      $("#login").on("logged-in", function() {
        
        // Cache important jquery selectors.
        var $membres = $("#membres");

        $membres.on("loaded", function () {
            $(".page-wrapper").active();
            $(".page-wrapper").show();
        });

          // Create modelviews.
        var membresMv = new MembersModelView($membres);

          // Apply all bindings.
        ko.applyBindings(membresMv, $membres[0]);
      });
    });
  </script>
}