@{
  ViewBag.Title = "Help";
}

<div id="page-wrapper">
  <h1>Simplets Entities Description</h1>
  <ul id="api-entities" data-bind="foreach: entities">
    <li>
      <hr/>
      <h3>
        <b data-bind="text: entityName"></b>
      </h3>
      <div data-bind="visible: properties.length">
        <ul data-bind="foreach: properties">
          <li>
            <h4>
              <b data-bind="text: propertyName"></b> - 
              <span data-bind="text: propertyType"></span>
            </h4>
            <h5>Constraints</h5>
            <span data-bind="text: constraints.join(', ')"></span>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>

@section StylesImport {
  <style type="text/css">
  
    
  </style>
}

@section ScriptsImportBottom {
  <script type="text/javascript">
    jQuery(function($) {
      ko.applyBindings(new EntitiesModelView());
    });

    function EntitiesModelView() {
      var self = this;
      self.entities = ko.observableArray();

      // Describe all of rest api's methods.
      restCall(buildUrl(apiUrl, "describe-entities"), operations.get()).done(function (entities) {
        for (var iEntity = 0; iEntity < entities.length; iEntity++) {
          self.entities.push(entities[iEntity]);
        }
      });
    }
  </script>
}

@*@{
  Layout = null;
}

<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <title>Api Help</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" ></script>
    <style type="text/css">
      h4, h5 {
        margin-bottom: 5px;
        margin-top: 5px;
      }
    </style>
  </head>
  <body>
    <h1>Simplets Api Description</h1>
    <hr />
    <h2>Method Template</h2>
    <div class="method-template">
      <h3 class="method-name">GET /base/sub/{param}</h3>
      <ul class="method-desc">
        <li><h4>Claims</h4> <i class="method-claims">security claims required for execution</i></li>
        <li><h4>Documentation</h4> <i class="method-doc">documentation of method</i></li>
        <li>
          <h4>Parameters</h4>
          <ul class="method-params">
            <li class="method-param-template">
              <h5>Parameter 1</h5>
              <ul>
                <li><h5>Name</h5> <i class="method-param-name">param name</i></li>
                <li><h5>Type</h5> <i class="method-param-doc">param documentation</i></li>
                <li><h5>Optional</h5> <i class="method-param-opt">true</i></li>
                <li><h5>Documentation</h5> <i class="method-param-doc">param documentation</i></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      <hr />
    </div>
    <script type="text/javascript">
      var apiBaseUrl = "http://localhost/services/api/v1/";
      $(document).ready(function() {
        $.get(apiBaseUrl + "describe-methods", function (data) {
          alert("asdggd");
          for (var i = 0; i < data.length; i++) {
            var methodDesc = data[i];
            var template = $(".method-template").clone();

            template.find(".method-name").text(methodDesc["httpMethod"] + " " + methodDesc["route"]);
            template.find(".method-claims").text(methodDesc["requiredClaims"]);
            template.find(".method-doc").text(methodDesc["documentation"]);

            var paramTemplate = template.find(".method-param-template").clone();
            template.find(".method-param-template").remove();
            for (var j = 0; j < methodDesc["parameterDescriptions"].length; j++) {
              paramTemplate = paramTemplate.clone();
              var paramDesc = methodDesc["parameterDescriptions"][j];
              s im
              paramTemplate.find(".method-param-name").text(paramDesc["name"]);
              paramTemplate.find(".method-param-doc").text(paramDesc["documentation"]);
              template.find(".method-params").append(paramTemplate);
            }
            
            $("body").append(template.html());
          }
        });
        // var entitiesDescs = $.get(apiBaseUrl + "describe-entities");
      });
    </script>
  </body>
</html>*@