h1 { margin-bottom: 20px; }

input[type=checkbox] { margin: 0; }

.metro-icon {
    -ms-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

.navbar-right .metro-icon {
    position: absolute;
    top: 7px;
    left: 7px;
    height: 36px;
    width: 36px;
}

.navbar-right > li > ul.dropdown-menu > li > a { position: relative; }

.navbar-right > li > ul.dropdown-menu > li > a > i.context-icon {
    position: absolute;
    top: 2px;
    left: 10px;
    height: 24px;
    width: 24px;
    -ms-background-size: 100% auto;
    background-size: 100% auto;
    background-position: left center;
    background-repeat: no-repeat;
}

.btn .metro-icon {
    position: absolute;
    height: 35px;
    width: 35px;
    top: 1px;
    left: 1px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

.form-control { color: black; }

#wrapper.blurred {
    -webkit-filter: blur(7px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    /*-ms-filter: blur(7px);*/
    filter: blur(15px);
}

.loading {
    background: rgb(34, 34, 34);
    background: rgba(34, 34, 34, 0.85);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: progress;
}

.loading > .fa.fa-spinner {
    display: block;
    position: absolute;
}

.rest-exception-container .validation-exception {
    list-style-type: lower-roman;
    margin: 0;
    padding: 0;
    margin-left: 35px;
}

.rest-exception-container .validation-exception > li:first-child { padding-top: 20px; }

.rest-exception-container .validation-exception > li:last-child { padding-bottom: 20px; }

.rest-exception-container .validation-exception > li { padding: 5px; }

#content-header {
    margin: -45px -15px 20px -15px;
    padding: 15px;
}

.membre-titre { width: 100%; }

.thumbnail-membre { margin-bottom: 0; }

.profil-header-separator {
    border-left: 1px solid #38546d;
    border-right: 1px solid #16222c;
}

.icon-container {
    padding: 5px 5px 5px 5px;
    width: 40px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    margin-right: 0.2em;
}

.white { color: white; }

.vcenter { vertical-align: middle; }

.navbar-right .dropdown-toggle { padding: 6px 12px; }

.navbar-brand { padding: 14px; }

.side-nav .dropdown-menu { background-color: #080808 !important; }

.navbar-toggle { padding: 0; }

.nav-bar-static-item {
    padding: 0;
    margin: 0;
}

.nav-bar-expander { padding: 9px 10px; }

.navbar-header .icon-container { margin-right: 0 !important; }

.navbar-toggle { border: none !important; }

.main-menu-xs-container .fa-2x { font-size: 1.40em; }

.main-menu-xs-container .icon-container { width: 32px; }

.main-menu-xs-container > ul > li > a { padding: 10px 8px !important; }

.main-menu-xs-container { padding-right: 5px; }

.main-menu-xs-container .dropdown-menu {
    -moz-min-width: 100%;
    -ms-min-width: 100%;
    -o-min-width: 100%;
    -webkit-min-width: 100%;
    min-width: 100%;
}

#subscribed-clubs .subscribed-club-logo {
    display: inline-block;
    -ms-background-size: 100% auto;
    background-size: 100% auto;
    background-position: center center;
    height: 40px;
    width: 40px;
}

#subscribed-clubs .subscribed-club-text { padding-left: 15px; }

#subscribed-clubs > li > a > * { vertical-align: middle; }

#formations table > tbody > tr > td { vertical-align: middle; }

#profil-base .profil-avatar {
    -ms-background-size: 100% auto;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

button span { margin-left: 5px; }

button.btn {
    -moz-min-width: 54px;
    -ms-min-width: 54px;
    -o-min-width: 54px;
    -webkit-min-width: 54px;
    min-width: 54px;
    text-align: center;
}

.panel { font-size: 16px; }

.panel .panel-title {
    font-size: 18px;
    font-weight: bold;
}