<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle nav-bar-expander" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
      

      <div class="navbar-header pull-left navbar-toggle nav-bar-static-item">
          <a class="navbar-brand pull-left" href="index.html">SimplETS</a>
       </div>

        <!-- 'Sticky' (non-collapsing) right-side menu item(s) -->
        <div class="navbar-header pull-right navbar-toggle nav-bar-static-item">
            <ul class="nav pull-left">
                <li class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="icon-container fa fa-2x btn-info vcenter"><span class="fa fa-share white"></span></span><b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Chinook</a></li>
                        <li class="divider"></li>
                        <li><a href="#">PRECI</a></li>
                    </ul>
                </li>
                <li class="pull-right">
                    <a href="@Url.Action("", null, null, Request.Url.Scheme)" class="dropdown-toggle">
                        <span class="icon-container fa fa-2x vcenter btn-success"><span class="fa fa-user white"></span></span>
                    </a>
                </li>
                <li class="pull-right">
                    <a class="dropdown-toggle">
                        <span class="icon-container fa fa-2x vcenter btn-warning"><span class="fa fa-cogs white"></span></span>
                    </a>
                </li>
                <li class="pull-right">
                    <a class="dropdown-toggle">
                        <span class="icon-container fa fa-2x vcenter btn-danger"><span class="fa fa fa-sign-out white"></span></span>
                    </a>
                </li>
            </ul>

        </div>
  </div>

  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul id="active" class="nav navbar-nav side-nav">
        <li class="dropdown">
            <a class=" dropdown-toggle" data-toggle="dropdown">
                <span class="icon-container fa btn-default fa-2x vcenter"><span class="fa fa-users white"></span></span><span class="vcenter">Membres</span>
            </a>
            <ul class="dropdown-menu">
                <li class="item">
                    <a href="/app/home/membres">
                        <i class="fa fa-sitemap"></i>
                        Consulter les membres
                    </a>
                </li>
            </ul>
        </li>

        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa icon-container fa-folder-open-o fa btn-default fa-2x vcenter"></i> Commandites
            </a>
            <ul class="dropdown-menu">
                <li class="item">
                    <a href="/app/home/members">
                        <i class="fa fa-sitemap"></i>
                        Consulter les commandites
                    </a>
                </li>
            </ul>
        </li>
    </ul>
      </div>
    <div class="collapse navbar-collapse">

        <a class="navbar-brand" href="index.html">SimplETS</a>
        <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="icon-container fa fa-2x btn-info vcenter"><span class="fa fa-share white"></span></span> <span class="vcenter">Context</span>  <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Chinook</a></li>
                        <li class="divider"></li>
                        <li><a href="#">PRECI</a></li>
                    </ul>
                </li>
                <li>
                    <a href="@Url.Action("", null, null, Request.Url.Scheme)" class="dropdown-toggle">
                        <span class="icon-container fa fa-2x vcenter btn-success"><span class="fa fa-user white"></span></span> <span class="vcenter">Profile</span>
                    </a>
                </li>
                <li>
                    <a class="dropdown-toggle">
                        <span class="icon-container fa fa-2x vcenter btn-warning"><span class="fa fa-cogs white"></span></span> <span class="vcenter">Paramètres</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle">
                        <span class="icon-container fa fa-2x vcenter btn-danger"><span class="fa fa fa-sign-out white"></span></span> <span class="vcenter">Déconnexion</span>
                    </a>
                </li>
            </ul>
    </div>
</nav>