IF EXISTS (SELECT 1 FROM master.dbo.sysdatabases WHERE name = N'SIMPLETS')
BEGIN 
    --ALTER DATABASE [SIMPLETS] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
	DROP DATABASE [SIMPLETS];
END

CREATE DATABASE [SIMPLETS]
COLLATE Latin1_General_CI_AS
GO