@{
  ViewBag.Title = "Help";
}

<div id="page-wrapper">
  <h1>Simplets Entities Description</h1>
  <ul id="api-entities" data-bind="foreach: entities">
    <li>
      <hr/>
      <h3>
        <b data-bind="text: name"></b>
      </h3>
      <div data-bind="visible: properties.length">
        <ul data-bind="foreach: properties">
          <li>
            <h4>
              <b data-bind="text: name"></b> - 
              <span data-bind="text: type"></span>
            </h4>
            <h5>Constraints</h5>
            <span data-bind="text: constraints.join(', ')"></span>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>

@section StylesImport {
  <style type="text/css">
  
    
  </style>
}

@section ScriptsImportBottom {
  <script type="text/javascript">
    jQuery(function ($) {
      $("#login").on("logged-in", function () {
        ko.applyBindings(new EntitiesModelView(), $("#api-entities")[0]);
      });
      ko.applyBindings(new EntitiesModelView());
    });

    function EntitiesModelView() {
      var self = this;
      self.entities = ko.observableArray();

      // Describe all of rest api's methods.
      restCall(buildUrl(apiUrl, "describe-entities"), operations.get()).done(function (entities) {
        for (var iEntity = 0; iEntity < entities.length; iEntity++) {
          self.entities.push(entities[iEntity]);
        }
      }).invoke();
    }
  </script>
}